# Virtualenv
venv/
ENV/
.env/
.venv/

# Environment files
.env
*.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
media/
staticfiles/
db.sqlite3
*.log

# IDEs
.vscode/
.idea/

# macOS / Linux
.DS_Store
*.swp
*.swo

# AWS / credentials (por segurança)
*.pem
*.key

# Byte-compiled / optimized
*.pyc
*.pyo

# Pip
pip-log.txt